!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local History for Visual Studio Code
.history/

node_modules/
.npm
npm-debug.log
.vscode/*
*.code-workspace
Thumbs.db
.env
.env.local
dist/
coverage/
package-lock.json
user.js

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests-examples/

# Файлы Cypress
cypress/downloads
cypress/videos/
cypress/screenshots/
cypress/*_*.json 
cypress/tests.log 
cypress/**/.DS_Store 
cypress/**/*.localstorage
cypress/**/*.db
cypress/**/*.lock
cypress/**/*.coverage
cypress/coverage/ 
cypress/cache/
cypress/plugins/index.js.map 
cypress/support/commands.js.map 
cypress/configuration.json 